div 
    color: red

.div {
    background: black;
}
#test {
    border: 1px solid green;
    width: 10px;
    height: 3em;
}
div span {
    color: yellow;
}
.class1 .class2 {
background-color: purple;
width: 50px;
height: 4rem;
}
.class3 > .class4 {
    color: blue;
}
.parent1 + .parent2 {
    font-size: 33px;
}
.fontx22 {
    font-size: 22px;
}
div {
    font-size: 16px im !important;
}
div {
    font-size: 22px;
}
/*.div1 {
    text-decoration: underline;
    color: green;
}
.div2 {
    color: gray;
}*/
.div1.div2 {
color: red;
}
.divBox {
    height: 100px;
    width: 150px;
    background: black;
}
.divBox:hover {
    background: grey;
    height: 300px;
    width: 450px;
}
a:active {
    font-size: 100px;
    transition: all 5.0s cubic-bezier(0.25, 0.00, 0.25, 1.00);
    color: blueviolet;
}
.wrapper {
    color: coral;
    background: darkblue;
}
.kid:nth-child(3n) {
    text-transform:lowercase;
    background: lightseagreen;
}
.kid:nth-child(3n+1) {
    text-transform:uppercase;
}
.kid:nth-child(3n+2) {
    text-transform:capitalize;
    background: pink;
}



a:visited {

}
